@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ===== PAGE BACKGROUND ===== */
.login-page {
  /* Full screen height */
  width: 100vw;
  min-height: 100vh;

  /* Center the login card */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Light gray background like the image */
  background-color: #f2f2f2;
}

/* ===== LOGIN CARD ===== */
.login-card {
  /* White card */
  background-color: #ffffff;

  /* Fixed desktop width */
  width: 380px;

  /* Space inside the card */
  padding: 30px;

  /* Rounded corners */
  border-radius: 10px;

  /* Soft shadow */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  /* Text alignment */
  text-align: center;
}

/* ===== TITLE & SUBTITLE ===== */
.login-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins";
  font-weight: 500;
  color: #0a0a0a;
}

.login-subtitle {
  font-size: 14px;
  color: #737373;
  margin-bottom: 25px;
  font-family: "Poppins";
  font-weight: 400;
}

/* ===== FORM GROUP ===== */
.form-group {
  text-align: left;
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #171717;
}

/* Input fields */
.form-group input {
  width: 95%;
  padding: 10px 11px;

  border-radius: 6px;
  border: 1px solid #737373;
  background-color: #f9f9f9;

  font-size: 14px;
  color: #737373;
}

/* Input focus effect */
.form-group input:focus {
  outline: none;
  border-color: #7a3cff;
}

.password-wrapper {
  position: relative;
}

.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== LOGIN BUTTON ===== */
.login-btn {
  width: 100%;
  padding: 10px;

  background-color: #9810fa;
  color: #ffffff;

  border: none;
  border-radius: 6px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  margin-top: 10px;
}

/* Button hover effect */
.login-btn:hover {
  background-color: #652adf;
}

/* ===== MESSAGE TEXT ===== */
.message {
  margin-top: 15px;
  font-size: 13px;
  color: #e63946;
}

/* ===== RESPONSIVE (TABLET & SMALL SCREENS) ===== */
@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 25px;
  }
}
