@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.login-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.login-card {
  background-color: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins";
  font-weight: 500;
  color: #0a0a0a;
}

.login-subtitle {
  font-size: 14px;
  color: #737373;
  margin-bottom: 25px;
  font-family: "Poppins";
  font-weight: 400;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #171717;
}

.form-group input {
  width: 95%;
  padding: 10px 11px;
  border-radius: 6px;
  border: 1px solid #737373;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #737373;
}

.form-group input:focus {
  outline: none;
  border-color: #7a3cff;
}

.password-wrapper {
  position: relative;
}

.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  width: 101%;
  padding: 10px 10px;
  background-color: #9810fa;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #652adf;
}

.message {
  margin-top: 15px;
  font-size: 13px;
  color: #e63946;
}

@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 25px;
  }
}
